[submodule "themes/lithium"]
	path = themes/lithium
	url = https://github.com/jrutheiser/hugo-lithium-theme.git
[submodule "themes/natrium"]
	path = themes/natrium
	url = https://github.com/mobybit/hugo-natrium-theme.git
[submodule "themes/crisp"]
	path = themes/crisp
	url = https://github.com/Zenithar/hugo-theme-crisp.git
